@page
@model RabbitRegister.Pages.Main.Account.AccessDeniedModel
@{
}
<br />
<br />
<h1>Ingen Adgang</h1>
<h3>Du skal være logget ind som admin</h3>
<img src="\Images\IngenAdgang.jpg" alt="Ingen Adgang" style="width: 500px; height: auto;" />
