@page
@model RabbitRegister.Pages.Main.Account.AccessDeniedModel

<h1 style="text-align: center; font-family: Arial, sans-serif;">Ingen Adgang</h1>
<p style="text-align: center; font-family: Arial, sans-serif;">Du skal være logget ind som administrator.</p>
<div style="display: flex; justify-content: center;">
    <img src="/Images/IngenAdgang.jpg" alt="Ingen Adgang" style="max-width: 500px; height: auto;">
</div>
