html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


/*@media only screen and (max-width: 768px) {
    .rabbit-profile-container {
        flex-direction: row;
    }

    .rabbit-profile-buttons {
        margin: 0;
    }

    .rabbit-profile-button {
        margin-right: 0;
        margin-left: 10px;
    }
}*/

.rabbit-profile-left img {
    margin-top: 30px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-bottom: 2px;
    object-fit: cover;
}

html {
  position: relative;
  min-height: 100%;
}

header {
    position: sticky; top: 0;
}

body {
    margin-bottom: 60px;
    background-image: url("../Images/Website/RabbitWallpaper.jpg");
    background-color: pink;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    
}

.create-form {

    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: pink;
}