body {
    margin: auto;
    background-image: url("../Images/Website/RabbitPoly.jpg");
    background-color: whitesmoke;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 140px;
    height: inherit;
}


/* --: CARD SETUP :-- */

.card {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    width: 240px;
    height: 370px;
    margin: 15px;       
    margin-top: 30px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card-image {
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    width: 238px;
    height: 240px;
    object-fit: cover;
    aspect-ratio: 4/3;
}

.container {
    padding: 2px 16px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}