@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <!-- Styling reference -->
    <link rel="stylesheet" href="/css/site.css" />
</head>

<body class="w3-auto">
    <div class="min-vh-100">
        <br><br></br>

        <div class="w3-main w3-center">
            <h1 class="display-4">Velkommen til dit RabbitRegister!</h1>

            </br>
            <p>
                Her kan du holde styr på dine kaniner, klipninger og produkter
            </p>
        </div>
    </div>
</body>
