@page
@model PrivacyModel
@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>

<p>Her kan du kontakte admin for RabbitRegister</p>
<p>Email: RabbitRegGroup96@bob-sponge.dk</p>
<p>Telefon: 22 33 44 55</p>
