@page
@model RabbitRegister.Pages.Main.Product.EditYarnModel
@{
}

<form method="post">
	<div class="form-group">
		<label asp-for="Yarn.YarnId" class="control-lable"></label>
		<input asp-for="Yarn.YarnId" class="form-control" readonly="@(true)" />
	</div>
	<div class="form-group">
		<label asp-for="Yarn.BreederRegNo" class="control-lable"></label>
		<input asp-for="Yarn.BreederRegNo" class="form-control" readonly="@(true)"/>
	</div>
	<div class="form-group">
		<label asp-for="Yarn.ProductName" class="control-lable"></label>
		<input asp-for="Yarn.ProductName" class="form-control" />
		<span asp-validation-for="Yarn.ProductName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Yarn.Fiber" class="control-lable"></label>
		<input asp-for="Yarn.Fiber" class="form-control" />
		<span asp-validation-for="Yarn.Fiber" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Yarn.NeedleSize" class="control-lable"></label>
		<input asp-for="Yarn.NeedleSize" class="form-control" />
		<span asp-validation-for="Yarn.NeedleSize" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Yarn.Length" class="control-lable"></label>
		<input asp-for="Yarn.Length" class="form-control" />
		<span asp-validation-for="Yarn.Length" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Yarn.Tension" class="control-lable"></label>
		<input asp-for="Yarn.Tension" class="form-control" />
		<span asp-validation-for="Yarn.Tension" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Yarn.Washing" class="control-lable"></label>
		<input asp-for="Yarn.Washing" class="form-control" />
		<span asp-validation-for="Yarn.Washing" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Yarn.Amount" class="control-lable"></label>
		<input asp-for="Yarn.Amount" class="form-control" />
		<span asp-validation-for="Yarn.Amount" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Yarn.Color" class="control-lable"></label>
		<input asp-for="Yarn.Color" class="form-control" />
		<span asp-validation-for="Yarn.Color" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Yarn.Price" class="control-lable"></label>
		<input asp-for="Yarn.Price" class="form-control" />
		<span asp-validation-for="Yarn.Price" class="text-danger"></span>
	</div>

	<p>
		<div class="form-group">
			<input type="submit" value="Update" class="btn btn-primary" />
		</div>
	</p>
</form>

<p>
	<a asp-page="/Main/Product/GetAllYarn">Back to List</a>
</p>