@page "{rabbitRegNo:int}/{originRegNo:int}"
@model RabbitRegister.Pages.Main.Rabbit.EditRabbitModel
@{
}

<!-- LIDT OM "{rabbitRegNo:int/{originRegNo}}"
    Du fortæller Razor-sidemodellen hvordan dens URL-adresse skal se ud.
    Den tager kort sagt kun dens værdi. ID1 og ID2.. Uden nogen tekst foran som beskriver hvad nøglen er.
    URL'en kommer derfor til at stå som noget ala: /EditRabbit/1/5095, hvor 1 er {rabbitRegNo}, og 5095 er {originRegNo}..
    Kaninens sekundære composite ID -->

<link rel="stylesheet" href="/css/rabbitSite.css" />

<br><br><br>

<div class="create-form">

    <form method="post" asp-page="EditRabbit" asp-page-handler="OnPostAsync">
        <div class="form-group">
            <label asp-for="RabbitDTO.Owner" class="control-label"></label>
            <input asp-for="RabbitDTO.Owner" class="form-control" readonly="@true" />
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.RabbitRegNo" class="control-label"></label>
            <input asp-for="RabbitDTO.RabbitRegNo" class="form-control" readonly="@true" />
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.OriginRegNo" class="control-label"></label>
            <input asp-for="RabbitDTO.OriginRegNo" class="form-control" readonly="@true" />
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.Name" class="control-label"></label>
            <input asp-for="RabbitDTO.Name" class="form-control" />
            <span asp-validation-for="RabbitDTO.Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.Race" class="control-label"></label>
            <input asp-for="RabbitDTO.Race" class="form-control" />
            <span asp-validation-for="RabbitDTO.Race" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.Color" class="control-label"></label>
            <input asp-for="RabbitDTO.Color" class="form-control" />
            <span asp-validation-for="RabbitDTO.Color" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.Sex" class="control-label"></label>
            <input asp-for="RabbitDTO.Sex" class="form-control" />
            <span asp-validation-for="RabbitDTO.Sex" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.DateOfBirth" class="control-label"></label>
            <input asp-for="RabbitDTO.DateOfBirth" class="form-control" />
            <span asp-validation-for="RabbitDTO.DateOfBirth" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.Weight" class="control-label"></label>
            <input asp-for="RabbitDTO.Weight" class="form-control" />
            <span asp-validation-for="RabbitDTO.Weight" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RabbitDTO.Rating" class="control-label"></label>
            <input asp-for="RabbitDTO.Rating" class="form-control" />
            <span asp-validation-for="RabbitDTO.Rating" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.DeadOrAlive" class="control-label"></label>
            <input asp-for="RabbitDTO.DeadOrAlive" value="Levende" class="form-control" />
            <span asp-validation-for="RabbitDTO.DeadOrAlive" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.IsForSale" class="control-label"></label>
            <input asp-for="RabbitDTO.IsForSale" value="Nej" class="form-control" />
            <span asp-validation-for="RabbitDTO.IsForSale" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.SuitableForBreeding" class="control-label"></label>
            <input asp-for="RabbitDTO.SuitableForBreeding" class="form-control" />
            <span asp-validation-for="RabbitDTO.SuitableForBreeding" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.CauseOfDeath" class="control-label"></label>
            <input asp-for="RabbitDTO.CauseOfDeath" class="form-control" />
            <span asp-validation-for="RabbitDTO.CauseOfDeath" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.Comments" class="control-label"></label>
            <input asp-for="RabbitDTO.Comments" class="form-control" />
            <span asp-validation-for="RabbitDTO.Comments" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="RabbitDTO.ImageString" class="control-label"></label>
            <input asp-for="RabbitDTO.ImageString" class="form-control" />
            <span asp-validation-for="RabbitDTO.ImageString" class="text-danger"></span>
        </div>

        <p>
            <div class="form-group">
                <input type="submit" value="Opdater" class="btn btn-success" />
                <a href="/Main/Rabbit/GetAllRabbits?breederRegNo=@User.Identity.Name" class="btn btn-warning text-white">Fortryd </a>
            </div>
        </p>
    </form>
</div>

<br />
<br />