@page "{id:int}/{breederRegNo:int}"
@model RabbitRegister.Pages.Main.Rabbit.EditRabbitModel
@{
}

<!-- LIDT OM "{id:int/{breederRegNo}}" 
    Du fortæller Razor-sidemodellen at den kan forvente denne rutebinding og dermed behandle den korrekt.
    Når der trykkes på "Update", matches URL'en som fx /EditRabbit/1/5095, hvor 1 er (RabbitRegNo) {id},
    og 5095 er {breederRegNo}.

    Dette er nyttigt, når du har brug for at modtage og bruge flere værdier fra URL'en i din sidebehandling.
    Uden denne rutebinding ville URL'en ikke matche nogen rute, og OnGet-metoden ville ikke blive udløst.-->

<br />
<form>
    <input type="button" value="Tilbage" onclick="history.go(-1)">
</form>
<br />

<form method="post" asp-page="EditRabbit" asp-page-handler="OnPostAsync">
    <div class="form-group">
        <label asp-for="Rabbit.Owner" class="control-label"></label>
        <input asp-for="Rabbit.Owner" class="form-control" readonly="@true" />
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.RabbitRegNo" class="control-label"></label>
        <input asp-for="Rabbit.RabbitRegNo" class="form-control" readonly="@true" /> 
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.BreederRegNo" class="control-label"></label>
        <input asp-for="Rabbit.BreederRegNo" class="form-control" readonly="@true" />
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.Name" class="control-label"></label>
        <input asp-for="Rabbit.Name" class="form-control" />
        <span asp-validation-for="Rabbit.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.Race" class="control-label"></label>
        <input asp-for="Rabbit.Race" class="form-control" />
        <span asp-validation-for="Rabbit.Race" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.Color" class="control-label"></label>
        <input asp-for="Rabbit.Color" class="form-control" />
        <span asp-validation-for="Rabbit.Color" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.Sex" class="control-label"></label>
        <input asp-for="Rabbit.Sex" class="form-control" />
        <span asp-validation-for="Rabbit.Sex" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.DateOfBirth" class="control-label"></label>
        <input asp-for="Rabbit.DateOfBirth" class="form-control" />
        <span asp-validation-for="Rabbit.DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.Weight" class="control-label"></label>
        <input asp-for="Rabbit.Weight" class="form-control" />
        <span asp-validation-for="Rabbit.Weight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rabbit.Rating" class="control-label"></label>
        <input asp-for="Rabbit.Rating" class="form-control" />
        <span asp-validation-for="Rabbit.Rating" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.DeadOrAlive" class="control-label"></label>
        <input asp-for="Rabbit.DeadOrAlive" value="Levende" class="form-control" />
        <span asp-validation-for="Rabbit.DeadOrAlive" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.IsForSale" class="control-label"></label>
        <input asp-for="Rabbit.IsForSale" value="Nej" class="form-control" />
        <span asp-validation-for="Rabbit.IsForSale" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.SuitableForBreeding" class="control-label"></label>
        <input asp-for="Rabbit.SuitableForBreeding" class="form-control" />
        <span asp-validation-for="Rabbit.SuitableForBreeding" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.CauseOfDeath" class="control-label"></label>
        <input asp-for="Rabbit.CauseOfDeath" class="form-control" />
        <span asp-validation-for="Rabbit.CauseOfDeath" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.Comments" class="control-label"></label>
        <input asp-for="Rabbit.Comments" class="form-control" />
        <span asp-validation-for="Rabbit.Comments" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rabbit.ImageString" class="control-label"></label>
        <input asp-for="Rabbit.ImageString" class="form-control" />
        <span asp-validation-for="Rabbit.ImageString" class="text-danger"></span>
    </div>

    <p>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </p>
</form>